OTP="no"
REDIS_HOST="127.0.0.1:6379"
OTP_LENGTH=4
OTP_EXPIRY=30
SMS_SERVICE="textlocal"
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_FROM_NO="+1234"
TEXTLOCAL_APIKEY=""
TEXTLOCAL_SENDER="TXTLCL"
TEXTLOCAL_SERVICE_EP="https://api.textlocal.in/send/"